html, body {
  margin: 0;
}

body {
  background-color: #D9AC78;
}

#page {
  border-radius: 25px;
  width: 75%;
  background-color: #A85434;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}

.form {
}

a {
  color: #F1F1F1;
  text-decoration: none;
}

nav {
  font-family: helvetica, arial, verdana, sans-serif;
  text-align: center;
  padding: 25px, 0, 10px, 0;
  margin: 25px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  font-size: 25px;
  padding: 15px 10px;
}

nav a.selected {
  color: #D9AC78;
}

nav a:hover {
  text-decoration: underline;
  color: #80FF80
}

nav a:visited {

}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Bungee', cursive;
  color: #3E3F30;
}

#page-text {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

p {
  font-family: Georgia, Times;
  font-size: 20px;
  line-height: 1.5em;
  color: #3D343D;
}

ul {
  color: #3D343D;
  list-style: circle;
  font-size: 20px;
  line-height: 1.5em;
  text-indent: 0;
}

img {
  width: 400px;
  display: block;
  margin: 0px auto;
}

label, input {
  display: block;
}

fieldset {
  border: 1px solid #80FF80;
}

legend {
  color: #80FF80;
}

#new-store-form {
  min-width: 250px;
  width: 50%;
  margin: 25px auto;
  color: #3D343D;
  list-style: none;
  font-size: 20px;
  line-height: 1.5em;
}

footer {
  color: #3E3F30;
  font-family: helvetica, arial, verdana, sans-serif;
  text-align: center;
  font-size: 12px;
  margin: 25px 0 0 0;
}

#table-div {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  color: #3D343D;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: scroll;
}

th.header-row {
  background-color: #DDDDDD;
  vertical-align: middle;
}

th.header-row {
  /*background-color: black;*/
}

th.row-0, th.row-1, th.row-2, th.row-3, th.row-4 {
  background-color: #DDDDDD;
  text-align: left;
  padding-right: 20px;
}

#tfoot-text-total {
  text-align: left;
  padding-right: 20px;
}

tr#tr-id-1 {
  background-color: #F8F8F8;
}

tr#tr-id-3 {
  background-color: #F8F8F8;
}

th, td {
  border: 1px solid #DDDDDD;
  padding: 10px;
  margin: 0px;
}

td {
  color: #3D343D;
  text-align: right;
}

tfoot.footer-row {
  background-color: #DDDDDD;
}

/*Deep Color: hex;
tan: D9AC78;
brown: A85434;
brick: AA4339;
white: F1F1F1;
black: 0E0E0E;

Dark Color: hex;
purple: 3D343D;
yellow: 594F2A;
green: 3E3F30;
orange: A85434;
black: 0E0E0E;

Colorful Color: hex;
green: 80FF80;
tan: DBAB73;
orange: BF724A;
dark orange: A85434;
black: 0E0E0E;*/
