html, body {
  margin: 0;
}

body {
  background-color: #D9AC78;
}

#page {
  border-radius: 25px;
  width: 75%;
  background-color: #A85434;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}

.form {
}

header {
  /*background-color: #AA4339;*/
}

a {
  color: #F1F1F1;
  text-decoration: none;
}

nav {
  font-family: helvetica, arial, verdana, sans-serif;
  text-align: center;
  padding: 25px, 0, 10px, 0;
  margin: 25px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  font-size: 25px;
  padding: 15px 10px;
}

nav a.selected {
  color: #D9AC78;
  /*font-size: 25px;*/
  /*text-decoration: underline;*/
  /*color: #D9AC78;*/
}

nav a:hover {
  text-decoration: underline;
  color: #80FF80
}

nav a:visited {
  /*font-size: 25px;*/
  /*text-decoration: underline;*/
  /*color: #D9AC78;*/
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Bungee', cursive;
  color: #3E3F30;
}

#page-text {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

p {
  font-family: Georgia, Times;
  font-size: 20px;
  line-height: 1.5em;
  color: #3D343D;
}

ul {
  color: #3D343D;
  /*list-style: none;*/
  list-style: circle;
  font-size: 20px;
  line-height: 1.5em;
  text-indent: 0;
  /*margin-bottom: 25px;*/
}

img {
  width: 400px;
  display: block;
  margin: 0px auto;
}

label, input {
  display: block;
}

fieldset {
  border: 1px solid #80FF80;
}

legend {
  color: #80FF80;
  text-transform: uppercase;;
}

#new-store-form {
  /*background-color: #AA4339;*/
  min-width: 250px;
  width: 50%;
  margin: 25px auto;
  /*margin-bottom: 25px;*/
  color: #3D343D;
  list-style: none;
  font-size: 20px;
  line-height: 1.5em;
}

footer {
  color: #F1F1F1;
  font-family: helvetica, arial, verdana, sans-serif;
  text-align: center;
  font-size: 12px;
  margin: 25px 0 0 0;
  /*text-decoration: underline;*/
  /*color: #D9AC78;*/
}

#table-div {
  font-family: Georgia, Times;
  color: #3D343D;
  margin-top: 100px;
  margin-bottom: 100px;
}

td {
  color: #80FF80;
}

/*Deep Color: hex;
tan: D9AC78;
brown: A85434;
brick: AA4339;
white: F1F1F1;
black: 0E0E0E;

Dark Color: hex;
purple: 3D343D;
yellow: 594F2A;
green: 3E3F30;
orange: A85434;
black: 0E0E0E;

Colorful Color: hex;
green: 80FF80;
tan: DBAB73;
orange: BF724A;
dark orange: A85434;
black: 0E0E0E;*/
